
<mat-toolbar color="primary">
  <span>Logo</span>

  <span class="example-spacer"></span>

  <div fxShow="true" fxHide.lt-md="true">
    <button mat-button>Menu 1</button>
    <button mat-button>Menu 2</button>
    <button mat-button>Menu 3</button>
    <button mat-button>Menu 4</button>
    <button mat-button>Menu 5</button>
    <button mat-button>Menu 6</button>
  </div>

  <span fxFlex></span>
  <span fxFlexAlign="center">
    {{date.toLocaleString()}}
  </span>
  <span fxFlex></span>
  <div fxFlexAlign="end end">
    Organigrama - {{position}}
  </div>
  <div fxFlexAlign="end end" fxShow="true" fxHide.gt-sm="true">
    <button>
      <i class="material-icons" (click)="sidenav.toggle()">
        menu
      </i>
    </button>
  </div>

</mat-toolbar>

<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav #sidenav fxLayout="column">
    <div fxLayout="column">
      <button (click)="sidenav.toggle()" mat-button>Close</button>
      <button mat-button>Menu 1</button>
      <button mat-button>Menu 2</button>
      <button mat-button>Menu 3</button>
      <button mat-button>Menu 4</button>
      <button mat-button>Menu 5</button>
      <button mat-button>Menu 6</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
</mat-sidenav-container>

